<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-container">
        <div class="nav">
            <div class="logo">
                Logo
            </div>
            <div class="nav-icons">
                <div class="home">
                    <a href="#">Home</a>
                </div>
                <div class="about">
                    <a href="#">About</a>
                </div>
                <div class="contact">
                    <a href="#">Contact Us</a>
                </div>
                <div class="login">
                    <button>Login / Register</button>
                </div>
            </div>
        </div>
        <div class="main">
           <div class="images">
             <div class="top"></div>
             <div class="mid"></div>
           </div>
        </div>
        <div class="footer">
            <div class="Footer">
                <ul class="products">
                  <h2>Products</h2>
                  <li class="products"><a href="#">Essential Alumini and Sonor Data</a></li>
                  <li class="products"><a href="#">Prospectus & Alumini News</a></li>
                  <li class="products"><a href="#">Alumini Network for Institutions</a></li>
                  <li class="products"><a href="#">Alumini Network for Corporate</a></li>
                </ul>
                <ul class = "products">
                  <h2 >About us</h2>
                  <li class="products"><a href="#">Clients</a></li>
                  <li class="products"><a href="#"> Contact us</a></li>  
                  <li class="products"><a href="#">Terms of Use</a></li>
                  <li class="products"><a href="#">Privacy Policy</a></li>  
                </ul>
               <ul class="Address">
                <h2 >Address </h2>
                <p >
                   Rawatbhata road,
                   
                    Akelgarh Kota.
                   <br> 
                   Rajasthan (324010).
                   
                </p>
   
               </ul>
        </div>
    </div>
</body>
</html>